---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import CallToAction from '../components/CallToAction.astro';
---

<BaseLayout title="About | Sathiyaraman M" description="About Sathiyaraman M">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Sathiyaraman M & Team at SIH 2022"
				/>
				<span>Participated in Grand Finale of Smart India Hackathon 2022, organized by Ministry of Education, Govt. of India.</span>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a motivated and ambitious student, I have a strong interest in web development and a passion for learning. I have been exploring the field of web development on my own, gaining knowledge and experience in a variety of technologies including .NET, Blazor, Angular, Flutter and SQL Server. I have been working on personal projects to sharpen my skills, and I am eager to continue learning and developing my expertise in this field.
					</p>
					<br />
					<p>
						I am now seeking opportunities to gain real-world experience and contribute to web development projects. I am a hard worker and a fast learner, and I am committed to delivering high-quality work that meets or exceeds expectations. I am excited about the future of web development and look forward to contributing to this dynamic and growing industry.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						I am currently pursuing a Bachelor's degree in Computer Science and Engineering, with a focus on web development, from R.M.K. Engineering College, Tamil Nadu, India. Throughout my academic journey, I have taken courses in a wide range of topics, from software engineering to algorithms and data structures. I am also actively involved in extracurricular activities, such as hackathons and coding competitions, to further refine my skills and stay up-to-date on emerging trends.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						My proficiency in .NET, Blazor, Angular, Flutter and SQL Server is complemented by a strong foundation in front-end and back-end development, including HTML, CSS, JavaScript, TypeScript and SQL. I am skilled in developing responsive layouts and user interfaces, as well as implementing back-end functionalities such as RESTful APIs and databases. Additionally, I possess strong problem-solving skills and an analytical mindset, allowing me to tackle complex challenges and deliver high-quality solutions.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Resume</h2>
				<div class="content">
					<p>
						You can download my resume in PDF format by clicking the button below.
					</p>
					<br />
					<div class="download-resume">
						<CallToAction href="/Sathiyaraman's Resume.pdf" target="_blank">Download Resume</CallToAction>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}

	.download-resume {
		display: flex;
		width: 50%;
		justify-content: start;
		align-items: center;
		text-decoration: none;
	}

	.download-resume :global(a) {
		text-decoration: none;
	}

	@media (max-width: 50em) {
		.download-resume {
			width: 100%;
		}
	}
</style>
