---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";

---

<BaseLayout title="Expertise | Sathiyaraman M">
    <div class="stack gap-20">
        <main class="wrapper stack gap-8">
            <!-- <Hero title="Skills" /> -->
            <Hero title=" Expertise" tagline="See my skills and tools I use, to understand my area of expertise." />
            <!-- <img class="hero-image" src="/assets/stock-2.jpg" /> -->
        </main>
        <section class="section">
            <header class="section-header stack gap-2">
                <h3 style="text-align: center;">Languages I have used</h3>
            </header>            
            <Grid variant="small">
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/csharp.png" />
                    <div class="tooltip">C#</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/javascript.png" />
                    <div class="tooltip">JavaScript</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/typescript.png" />
                    <div class="tooltip">TypeScript</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/html.png" />
                    <div class="tooltip">HTML</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/css.png" />
                    <div class="tooltip">CSS</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/sql.png" />
                    <div class="tooltip">SQL</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/java.png" />
                    <div class="tooltip">Java</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/python.png" />
                    <div class="tooltip">Python</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/fsharp.png" />
                    <div class="tooltip">F#</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/xaml.png" />
                    <div class="tooltip">XAML</div>
                </li>
            </Grid>
        </section>
        <section class="section">
            <header class="section-header stack gap-2">
                <h3 style="text-align: center;">Frameworks I have worked</h3>
            </header>
            <Grid variant="small">
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/dotnet.png" />
                    <div class="tooltip">.NET</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/aspnetcore.png" />
                    <div class="tooltip">ASP.NET Core API</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/aspnetcore-mvc.png" />
                    <div class="tooltip">ASP.NET Core MVC</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/blazor.png" />
                    <div class="tooltip">Blazor</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/angular.png" />
                    <div class="tooltip">Angular</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/react.png" />
                    <div class="tooltip">React</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/windowsforms.png" />
                    <div class="tooltip">Windows Forms</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/wpf.png" />
                    <div class="tooltip">WPF</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/winui.png" />
                    <div class="tooltip">WinUI</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/flutter.png" />
                    <div class="tooltip">Flutter</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/bootstrap.png" />
                    <div class="tooltip">Bootstrap</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/tailwind.png" />
                    <div class="tooltip">Tailwind CSS</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/astro.png" />
                    <div class="tooltip">Astro</div>
                </li>
            </Grid>
        </section>
        <section class="section">
            <header class="section-header stack gap-2">
                <h3 style="text-align: center;">Databases I have worked</h3>
            </header>
            <Grid variant="small">
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/sql-server.png" />
                    <div class="tooltip">SQL Server</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/mysql.png" />
                    <div class="tooltip">MySQL</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/postgresql.png" />
                    <div class="tooltip">PostgreSQL</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/sqlite.png" />
                    <div class="tooltip">SQLite</div>
                </li>
            </Grid>
        </section>
        <section class="section">
            <header class="section-header stack gap-2">
                <h3 style="text-align: center;">Softwares and Tools I have been using</h3>
            </header>
            <Grid variant="small">
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/arch.png" />
                    <div class="tooltip">Arch Linux</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/androidstudio.png" />
                    <div class="tooltip">Android Studio</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/azurepipelines.png" />
                    <div class="tooltip">Azure Pipelines</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/docker.png" />
                    <div class="tooltip">Dockers</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/firebase.png" />
                    <div class="tooltip">Firebase</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/git.png" />
                    <div class="tooltip">Git</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/github.png" />
                    <div class="tooltip">GitHub</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/githubactions.png" />
                    <div class="tooltip">GitHub Actions</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/iis.png" />
                    <div class="tooltip">IIS</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/intellijidea.png" />
                    <div class="tooltip">IntelliJ IDEA</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/postman.png" />
                    <div class="tooltip">Postman</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/rider.png" />
                    <div class="tooltip">Rider</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/sql-server-management-studio.png" />
                    <div class="tooltip">SQL Server Management Studio</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/ubuntu.png" />
                    <div class="tooltip">Ubuntu</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/vbox.png" />
                    <div class="tooltip">Oracle VirtualBox</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/vs.png" />
                    <div class="tooltip">Visual Studio</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/vsc.png" />
                    <div class="tooltip">Visual Studio Code</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/webstorm.png" />
                    <div class="tooltip">WebStorm</div>
                </li>
                <li class="skill-card tooltip-container">
                    <img src="/assets/expertise/wsl.png" />
                    <div class="tooltip">Windows Subsystem for Linux</div>
                </li>
            </Grid>
        </section>

		<ContactCTA />
    </div>
</BaseLayout>

<style>

	.section {
		display: grid;
		gap: 2rem;
        margin: 0 1rem;
	}

    .section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

    .skill-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		/* background: var(--gradient-subtle); */
        /* background: var(--gray-100); */
        background-color: #e3e6ee;
		box-shadow: var(--shadow-sm);
        /* box-shadow: 0px 6px 3px rgba(255, 255, 255, 0.01), 0px 4px 2px rgba(255, 255, 255, 0.01),
		0px 2px 2px rgba(255, 255, 255, 0.02), 0px 0px 1px rgba(255, 255, 255, 0.03); */
		transition: all var(--theme-transition);
	}

	@media (min-width: 50em) {
		.skill-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}

	.skill-card img {
		height: 100%;
		object-fit: contain;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 2rem;
	}

	.skill-card:hover {
		color: var(--gray-100);
		/* background-color: var(--gradient-stroke);         */
        /* background: var(--gray-50); */
        background-color: #f3f4f7;
        box-shadow: var(--shadow-md);
		/* box-shadow: 0px 28px 11px rgba(255, 255, 255, 0.01), 0px 16px 10px rgba(255, 255, 255, 0.03),
		0px 7px 7px rgba(255, 255, 255, 0.05), 0px 2px 4px rgba(255, 255, 255, 0.06); */
		scale: 1.05;
		transform: translate(0, -0.25rem);
	}
</style>